body
  padding: 0
  margin: 0

.parallax
  /* The image used */
  background-image: image-url("background.jpg")

  /* Set a specific height */
  height: 100vh

  /* Create the parallax scrolling effect */
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  background-position: center 100%

  font-family: 'Amatic Sc', cursive
  font-weight: 700

  .content
    text-align: center
    padding-top: 20vh
    //margin-left: 20vw
    display: block
    //color: #694489
    color: #000

    .content-block
      display: table
      width: 100%

      .title
        font-size: 100px
        line-height: 80px
        display: table-row

      .date
        font-size: 50px
        line-height: 50px
        text-align: center
        display: table-row

  .arrow-group
    position: absolute
    bottom: 20px
    width: 100vw
    text-align: center

    .text
      font-size: 30px
      color: #fff

    .arrow
      -webkit-transition: all .2s linear
      fill: #ffffff !important

@media only screen and (max-device-width: 1024px)
  .parallax 
    background-attachment: scroll

.home
  text-align: center
  position: relative

  .header
    position: absolute
    left: 0px
    top: 0px
    z-index: -1

    img
      width: 100%

  .content
    padding: 80px 0px 80px 0px

    .title
      font-family: 'Great Vibes', cursive
      font-size: 80px

    .rsvp-form
      font-family: 'Josefin Sans', sans-serif

      .labelholder::before

  .footer
    position: absolute
    left: 0px
    bottom: 0px
    z-index: -1

    img
      width: 100%

.access
  text-align: center
  height: 100vh
  padding: 80px 0px 80px 0px
  //background: #A9FFF8
  background: #81d8d0

  .title
    font-family: 'Great Vibes', cursive
    font-size: 80px

  .access-map

select.form-control
  -webkit-appearance: textfield
  padding-top: 6px !important
