body
  padding: 0
  margin: 0

.parallax
  height: 100vh
  font-family: 'Amatic Sc', cursive
  font-weight: 700

  .background
    z-index: -1
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center 100%
    background-image: image-url("background.jpg")

  .content
    text-align: center
    padding-top: 20vh
    //margin-left: 20vw
    display: block
    //color: #694489
    color: #000

    .content-block
      display: table
      width: 100%

      .title
        font-size: 100px
        line-height: 80px
        padding-bottom: 10px
        display: table-row

      .date
        font-size: 50px
        line-height: 70px
        text-align: center
        display: table-row

  .arrow-group
    position: absolute
    bottom: 20px
    width: 100vw
    text-align: center

    .text
      font-size: 30px
      color: #000

    .arrow
      -webkit-transition: all .2s linear
      fill: #000 !important

.home
  text-align: center
  position: relative
  background: #fff

  .header
    position: absolute
    left: 0px
    top: 0px
    z-index: 0

    img
      width: 100%

  .footer
    position: absolute
    left: 0px
    bottom: 0px
    z-index: 0

    img
      width: 100%

  .content
    padding: 60px 40px 80px 40px
    z-index: 1

    .title
      margin-bottom: 40px
      //margin-left: 10%

    .rsvp-form
      font-family: 'Josefin Sans', sans-serif

      //.labelholder::before

@media (max-width: 991px)
  .parallax2
    height: 100vh !important

.parallax2
  height: 120vh
  font-family: 'Amatic Sc', cursive
  font-weight: 700

  .background
    z-index: -2
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center 100%
    background-image: image-url("background2.jpg")

  .content
    text-align: center
    padding-top: 5vh
    //margin-left: 20vw
    display: block
    //color: #694489
    color: #000

    .content-block
      width: 100%

      .title
        margin-bottom: 40px
        text-align: center

      .access-map
        text-align: center

        #map
          margin-left: 10%
          width: 80%
          height: 30vh

      .address
        margin-top: 10px
        font-size: 16px

        .title
          font-size: 22px

select.form-control
  -webkit-appearance: textfield
  padding-top: 6px !important
